:root {
  /* --primary: #ebc908; */
  --primary: rgb(0, 0, 0);
  /* --primary-text: #1a1a1a; */
  --primary-text: #fff;
  /* --secondary: #ff1dec; */
  --secondary: #ff0065;

  --secondary-text: #ffffff;
  --accent: #505050;
  --accent-text: #ffffff;
}

#helloWorld {
  text-align: center;
}
